.button {
  border: none;
  font-size: 1.2rem;
  padding: .5rem 1rem;
  cursor: pointer;
  border-radius: .6rem;
  background-color: var(--clr-bg2-light);
  color: black;
}
.button.dark {
  background-color: var(--clr-bg2-dark);
  color: white;
}
.button:hover {
  background-color: var(--clr-primary);
  color: white;
}