.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 2rem 0;
  margin: 0 auto;
  max-width: 1200px;
  border: none;
  border-color: black;
  transition: var(tran-darkmode);
  border-bottom: 1px solid;
  border-color: var(--clr-subtext-dark);
}
.section.dark {
  border-color: var(--clr-subtext-light);
}

.sectionHeading {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.contactIconList {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
