.anchor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  padding: 0.1rem;
}
.anchor:hover > .icon {
  color: var(--clr-primary);
}
.icon {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 0.5rem;
  padding: 0.1rem;
  transform: scale(100%);
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.iconName {
  margin: 0;
  padding: 0.3rem 0;
  color: transparent;
  position: absolute;
  bottom: -1.6rem;
  transition: color 0.1s;
  user-select: none;
}
