@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");

:root {
  --clr-primary: rgb(138, 80, 255);
  --clr-bg-light: rgb(228, 233, 241);
  --clr-bg-dark: rgb(25, 25, 32);
  --clr-bg2-light: rgb(208, 216, 229);
  --clr-bg2-dark: rgb(17, 17, 21);
  --clr-subtext-light: rgb(40, 42, 44);
  --clr-subtext-dark: rgb(185, 191, 198);
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: var(--clr-bg2-dark);
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: var(--clr-subtext-light);
}
.light *::-webkit-scrollbar-track {
  background: var(--clr-bg2-light);
  border-color: var(--clr-subtext-dark);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--clr-bg-dark);
  border: 1px solid var(--clr-subtext-light);
  /* border-radius: 1rem; */
}
.light *::-webkit-scrollbar-thumb {
  background-color: var(--clr-bg2-light);
  border: 1px solid var(--clr-subtext-dark);
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--clr-primary);
  border: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: Plus Jakarta Sans, sans-serif;
}

html {
  padding: 0;
  margin: 0;
  background-color: var(--clr-bg-dark);
  color: white;
  scrollbar-color: var(--clr-subtext-dark) var(--clr-bg2-dark);
}
html.light {
  background-color: var(--clr-bg-light);
  color: black;
  scrollbar-color: var(--clr-subtext-light) var(--clr-bg2-light);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
*::selection {
  background-color: var(--clr-primary);
  color: white;
}

h1,
h2,
h3,
p {
  margin: 0;
}
