.header {
  width: 100%;
  background-color: var(--clr-bg-light);
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: var(--clr-subtext-dark);
}
.header.dark {
  background-color: var(--clr-bg-dark);
  border-color: var(--clr-subtext-light);
}

.darkmodeSwitchDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
}

.themeIcon {
  width: 2rem;
}

.aboutMeLink {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  transition: color 0.05s linear;
}
.aboutMeLink:hover {
  color: var(--clr-primary);
}

.meImgContainer {
  display: flex;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  width: 2rem;
  height: 2rem;
}

.homeLink {
  display: flex;
  flex-direction: row;
  gap: 0.35rem;
  align-items: center;
  transition: color 0.05s linear;
}
.homeLink:hover {
  color: var(--clr-primary);
}

.backIcon {
  width: 1.2rem;
}
