.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-bg2-light);
  padding: 3rem;
}
.section.dark {
  background-color: var(--clr-bg2-dark);
}

.nameText {
  font-size: 1.2rem;
  margin: -0.2rem 0;
}

.mainText {
  font-size: 2.2rem;
  white-space: nowrap;
  font-weight: bold;
  border-bottom: 0.2rem var(--clr-primary) solid;
  padding-bottom: 0.5rem;
}

.subText {
  font-size: 0.7rem;
  text-align: center;
  margin: 0.7rem 0;
  white-space: nowrap;
}

@media (min-width: 400px) {
  .section {
    padding: 3.5rem;
  }

  .mainText {
    font-size: 2.8rem;
  }

  .nameText {
    font-size: 1.5rem;
  }

  .subText {
    font-size: 0.9rem;
  }
}

@media (min-width: 600px) {
  .section {
    padding: 8rem 0;
  }

  .mainText {
    font-size: 3.5rem;
  }

  .nameText {
    font-size: 1.9rem;
  }

  .subText {
    font-size: 1.1rem;
    text-align: center;
    margin: 0.8rem 0;
  }
}

@media (min-width: 750px) {
  .mainText {
    font-size: 4.2rem;
  }

  .nameText {
    font-size: 2.2rem;
  }

  .subText {
    font-size: 1.25rem;
    margin: 0.9rem 0;
  }
}

@media (min-width: 1100px) {
  .section {
    padding: 10rem;
  }

  .mainText {
    font-size: 4.7rem;
  }

  .nameText {
    font-size: 2.5rem;
  }

  .subText {
    font-size: 1.3rem;
  }
}

/* Animations */

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
