.package {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0;
  gap: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
  color: black;
  white-space: nowrap;
  transition: color 0.05s linear;
}
.package.dark {
  color: white;
}
.package:hover {
  color: var(--clr-primary);
}

.packageLogo {
  width: 2.3rem;
  display: flex;
  user-select: none;
}

/* Specific Logos */

.cra {
  filter: brightness(80%);
}
.cra.dark {
  filter: brightness(100%);
}

.next.dark {
  filter: invert(100%);
}

.js {
  border-radius: 0.2rem;
  overflow: hidden;
}

.antDesign.dark {
  filter: invert(100%);
}

.mongoDB {
  filter: invert(100%);
}
.mongoDB.dark {
  filter: invert(0%);
}

.jwt {
  filter: brightness(85%);
}
.jwt.dark {
  filter: brightness(100%);
}

/* Media Queries */

@media (min-width: 420px) {
  .package {
    font-size: 1rem;
  }

  .packageLogo {
    width: 2.5rem;
  }
}

@media (min-width: 750px) {
  .package {
    font-size: 0.9rem;
  }

  .packageLogo {
    width: 2.3rem;
  }
}

@media (min-width: 930px) {
  .package {
    font-size: 1rem;
  }

  .packageLogo {
    width: 2.5rem;
  }
}
