.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1.8rem 4rem 1.8rem;
  max-width: 1200px;
  margin: 0 auto;
  border: none;
}

.sectionHeading {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.sectionSubtext {
  margin-bottom: 2rem;
  color: var(--clr-subtext-light);
  font-style: italic;
  font-size: 0.9rem;
}
.sectionSubtext.dark {
  color: var(--clr-subtext-dark);
}

.showcaseItemList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.showcaseItem {
  max-width: 420px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.showcaseItemHeading {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  font-weight: 500;
  transition: color 0.05s linear;
}

.showcaseItemAnchor:hover > .showcaseItemImgContainer {
  transform: scale(103%);
}
.showcaseItemAnchor:hover > .showcaseItemHeading {
  color: var(--clr-primary);
}

.link {
  color: var(--clr-primary);
}
.link:hover {
  text-decoration: underline;
}

.showcaseItemImgContainer {
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  position: relative;
  aspect-ratio: 16 / 8;
}

.showcaseItemImg {
  filter: brightness(93%);
}
.showcaseItemImg.dark {
  filter: brightness(100%);
}

.subText {
  font-style: italic;
  color: var(--clr-subtext-light);
  margin: 0.5rem 0;
  font-size: 0.85rem;
}
.subText.dark {
  color: var(--clr-subtext-dark);
}

.packageList {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

/* Media Queries */

@media (min-width: 420px) {
  .showcaseItemHeading {
    font-size: 1.3rem;
  }
}

@media (min-width: 750px) {
  .showcaseItemList {
    flex-direction: row;
    gap: 2rem;
    max-width: 1130px;
  }

  .showcaseItemHeading {
    font-size: 1.1rem;
  }
}

@media (min-width: 930px) {
  .showcaseItemHeading {
    font-size: 1.3rem;
  }
}

/* @media (min-width: 1300px) {
  .section {
    border-left: 0.15rem solid;
    border-right: 0.15rem solid;
  }
} */
