/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.6rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
input:focus-visible + .slider {
  outline: 0.2rem solid var(--clr-primary);
  outline-offset: 0.2rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.2rem;
  width: 1.2rem;
  left: 0.2rem;
  bottom: 0.2rem;
  background-color: var(--clr-bg-light);
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.dark.slider:before {
  background-color: var(--clr-bg-dark);
}

.dark.slider {
  background-color: white;
}
/* 
input:hover + .slider:before {
  background-color: var(--clr-primary);
} */

input:checked + .slider:before {
  -webkit-transform: translateX(1.4rem);
  -ms-transform: translateX(1.4rem);
  transform: translateX(1.4rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (hover: hover) {
  input:hover + .slider:before {
    background-color: var(--clr-primary);
  }
}
